.logo {
  margin:20px;
}

body {
  font-family: 'Inter', sans-serif;
}

.header-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:center
}

.container-nav {
  display:flex;
}

li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
  margin: 0px 10px;
  
  padding: 10px; 
  border: 2px solid transparent; 
  border-radius: 30px; 
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; 
}

ul.container-nav {
  padding: 0px;
  margin-bottom: 10px;
}

a:hover {
  color: white;
  background-color: #3e8e41;  
  border: 2px solid #3e8e41;  
  cursor: pointer;
}
